/HOT-ERP-FINAL/HOT-ERP-FINAL-war/build/
/HOT-ERP-FINAL/HOT-ERP-FINAL-ejb/build/
/HOT-ERP-FINAL/HOT-ERP-FINAL-ejb/dist/
/HOT-ERP-FINAL/HOT-ERP-FINAL-ejb/
/HOT-ERP-FINAL/build/
/HOT-ERP-FINAL/dist/
/HOT-ERP-FINAL/nbproject/
/HOT-ERP-FINAL/src/
/HOT-ERP-FINAL/build
/HOT-ERP-FINAL/HOT-ERP-FINAL-war/dist/
/HOT-ERP-FINAL/HOT-ERP-FINAL-war/build/
/HOT-ERP-FINAL/HOT-ERP-FINAL-war/nbproject/
/HOT-ERP-FINAL/HOT-ERP-FINAL-war/test/
/HOT-ERP-FINAL/HOT-ERP-FINAL-war/build
/HOT-ERP-FINAL/dist/
HOT-ERP-FINAL/HOT-ERP-FINAL-war/nbproject/private/private.properties
